Repository JCMais/nexus-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

chore: general improvements to the README of the plugins
  plugins/datetime/README.md
  plugins/field-authentication/README.md
  plugins/relay-global-id/README.md
  plugins/relay-node-interface/README.md
Due: datetime, fieldauthentication, relayglobalid, relaynodeinterface

chore: remove private: true from relay-mutation plugin
  plugins/relay-mutation/package.json
Due: relaymutation

chore: change initial version of relay-mutation plugin from 0.0.0 to 0.0.1
  plugins/relay-mutation/package.json
Due: relaymutation

chore: turns out we need to use yarn p patch
  plugins/relay-mutation/package.json
Due: relaymutation

Publish
  plugins/datetime/CHANGELOG.md
  plugins/datetime/package.json
  plugins/field-authentication/CHANGELOG.md
  plugins/field-authentication/package.json
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/CHANGELOG.md
  plugins/relay-node-interface/package.json
Due: datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

fix(relay-mutation): remove tests file from tsconfig.json
  plugins/relay-mutation/tsconfig.json
Due: relaymutation

Publish
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
Due: relaymutation

fix(datetime): nexusSchemaImportId was wrong
  plugins/datetime/src/index.ts
Due: datetime

Publish
  plugins/datetime/CHANGELOG.md
  plugins/datetime/package.json
Due: datetime

fix(datetime): wrong default value for dateTimePluginImportId
  plugins/datetime/src/index.ts
Due: datetime

fix(mutation): fix type of input argument for the mutateAndGetPayload function
  plugins/relay-mutation/src/index.ts
Due: relaymutation

feat: add initial code for elastic-apm-instrumentation plugin
  plugins/elastic-apm-instrumentation/LICENSE
  plugins/elastic-apm-instrumentation/README.md
  plugins/elastic-apm-instrumentation/jest.config.js
  plugins/elastic-apm-instrumentation/package.json
  plugins/elastic-apm-instrumentation/src/index.ts
  plugins/elastic-apm-instrumentation/tests/__snapshots__/index.spec.ts.snap
  plugins/elastic-apm-instrumentation/tests/index.spec.ts
  plugins/elastic-apm-instrumentation/tsconfig.cjs.json
  plugins/elastic-apm-instrumentation/tsconfig.esm.json
  plugins/elastic-apm-instrumentation/tsconfig.json
  plugins/field-authentication/src/index.ts
  yarn.lock
Due: fieldauthentication

chore: general improvements for first release of elastic-apm-instrumentation
  plugins/elastic-apm-instrumentation/src/index.ts
Due: none

Publish
  plugins/elastic-apm-instrumentation/CHANGELOG.md
  plugins/elastic-apm-instrumentation/package.json
  plugins/field-authentication/CHANGELOG.md
  plugins/field-authentication/package.json
Due: fieldauthentication

chore: republish packages
  README.md
  package.json
  plugins/#-sample/package.json
  plugins/datetime/package.json
  plugins/elastic-apm-instrumentation/package.json
  plugins/field-authentication/package.json
  plugins/relay-global-id/package.json
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/package.json
Due: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

Publish
  plugins/#-sample/CHANGELOG.md
  plugins/#-sample/package.json
  plugins/datetime/CHANGELOG.md
  plugins/datetime/package.json
  plugins/elastic-apm-instrumentation/CHANGELOG.md
  plugins/elastic-apm-instrumentation/package.json
  plugins/field-authentication/CHANGELOG.md
  plugins/field-authentication/package.json
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/CHANGELOG.md
  plugins/relay-node-interface/package.json
Due: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

fix(relay-mutation): make input/payload types follow CamelCase naming
  plugins/relay-mutation/src/index.ts
  plugins/relay-mutation/tests/__snapshots__/index.spec.ts.snap
  plugins/relay-mutation/tests/generated/types.out
  plugins/relay-mutation/tests/index.spec.ts
Due: relaymutation

feat: upgrade dependencies and use nexus v1 instead of @nexus/schema
  .gitignore
  README.md
  package.json
  plugins/datetime/src/index.ts
  plugins/datetime/tests/__snapshots__/index.spec.ts.snap
  plugins/datetime/tests/index.spec.ts
  plugins/elastic-apm-instrumentation/src/index.ts
  plugins/elastic-apm-instrumentation/tests/__snapshots__/index.spec.ts.snap
  plugins/elastic-apm-instrumentation/tests/index.spec.ts
  plugins/field-authentication/src/index.ts
  plugins/field-authentication/tests/index.spec.ts
  plugins/relay-global-id/src/index.ts
  plugins/relay-global-id/tests/index.spec.ts
  plugins/relay-mutation/src/index.ts
  plugins/relay-mutation/tests/__snapshots__/index.spec.ts.snap
  plugins/relay-mutation/tests/generated/types.out
  plugins/relay-mutation/tests/index.spec.ts
  plugins/relay-node-interface/src/index.ts
  plugins/relay-node-interface/tests/__snapshots__/index.spec.ts.snap
  plugins/relay-node-interface/tests/index.spec.ts
  yarn.lock
Due: datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

Publish
  plugins/datetime/CHANGELOG.md
  plugins/datetime/package.json
  plugins/elastic-apm-instrumentation/CHANGELOG.md
  plugins/elastic-apm-instrumentation/package.json
  plugins/field-authentication/CHANGELOG.md
  plugins/field-authentication/package.json
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/CHANGELOG.md
  plugins/relay-node-interface/package.json
Due: datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

chore: remove unecessary ts-expect-error and run tsc on pre-commit
  package.json
  plugins/#-sample/package.json
  plugins/datetime/package.json
  plugins/elastic-apm-instrumentation/package.json
  plugins/elastic-apm-instrumentation/src/index.ts
  plugins/field-authentication/package.json
  plugins/relay-global-id/package.json
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/package.json
Due: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

chore: fix pre-commit command not found
  package.json
Due: none

fix(field-authentication): not having the correct type for the authentication field
  plugins/field-authentication/src/index.ts
Due: fieldauthentication

chore(relay-node-interface): improve consistency when naming the graphql context
  plugins/relay-node-interface/src/index.ts
Due: relaynodeinterface

Publish
  plugins/field-authentication/CHANGELOG.md
  plugins/field-authentication/package.json
  plugins/relay-node-interface/CHANGELOG.md
  plugins/relay-node-interface/package.json
Due: fieldauthentication, relaynodeinterface

chore: improve types for multiple plugins and remove unnecessary core import when generating types
  plugins/datetime/src/index.ts
  plugins/relay-global-id/src/index.ts
  plugins/relay-mutation/src/index.ts
Due: datetime, relayglobalid, relaymutation

Publish
  plugins/datetime/CHANGELOG.md
  plugins/datetime/package.json
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
Due: datetime, relayglobalid, relaymutation

fix(relay-mutation): fix types for mutateAndGetPayload
  plugins/relay-mutation/src/index.ts
Due: relaymutation

feat: add yup-validation plugin
  .eslintrc.js
  package.json
  plugins/#-sample/package.json
  plugins/datetime/package.json
  plugins/elastic-apm-instrumentation/package.json
  plugins/field-authentication/tests/index.spec.ts
  plugins/relay-global-id/package.json
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/package.json
  plugins/yup-validation/README.md
  plugins/yup-validation/jest.config.js
  plugins/yup-validation/package.json
  plugins/yup-validation/src/index.ts
  plugins/yup-validation/tests/__snapshots__/index.spec.ts.snap
  plugins/yup-validation/tests/index.spec.ts
  plugins/yup-validation/tsconfig.cjs.json
  plugins/yup-validation/tsconfig.esm.json
  plugins/yup-validation/tsconfig.json
  tsconfig.json
  yarn.lock
Due: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

Publish
  plugins/#-sample/CHANGELOG.md
  plugins/#-sample/package.json
  plugins/datetime/CHANGELOG.md
  plugins/datetime/package.json
  plugins/elastic-apm-instrumentation/CHANGELOG.md
  plugins/elastic-apm-instrumentation/package.json
  plugins/field-authentication/CHANGELOG.md
  plugins/field-authentication/package.json
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/CHANGELOG.md
  plugins/relay-node-interface/package.json
  plugins/yup-validation/CHANGELOG.md
  plugins/yup-validation/package.json
Due: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

fix(yup-validation): dist file was wrongly including the tests files
  plugins/yup-validation/tsconfig.json
Due: none

Publish
  plugins/yup-validation/CHANGELOG.md
  plugins/yup-validation/package.json
Due: none

mark config optional as there is a fallback {}
  plugins/relay-global-id/src/index.ts
Due: relayglobalid

allow nonNullDefaults config
  plugins/relay-global-id/src/index.ts
  plugins/relay-node-interface/src/index.ts
Due: relayglobalid, relaynodeinterface

upgrade graphql
  package.json
  yarn.lock
Due: none

mark config optional as there is a fallback {} (#4)
  plugins/relay-global-id/src/index.ts
Due: relayglobalid

Path conditions:
  sample: any of: plugins/#-sample
  datetime: any of: plugins/datetime
  fieldauthentication: any of: plugins/field-authentication
  relayglobalid: any of: plugins/relay-global-id
  relaymutation: any of: plugins/relay-mutation
  relaynodeinterface: any of: plugins/relay-node-interface
