Repository JCMais/nexus-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: sample, datetime, fieldauthentication, relayglobalid, relaymutation, relaynodeinterface

codecov.yml:

# coverage:
#   status:
#     project:
#       target: 90%
#       threshold: null
#     projectA:
#       flags: projectA
#       target: 90%
#     projectB:
#       target: 50%
#       flags: projectB
flags:
  sample:
    paths:
      - plugins/#-sample
    carryforward: true
  datetime:
    paths:
      - plugins/datetime
    carryforward: true
  fieldauthentication:
    paths:
      - plugins/field-authentication
    carryforward: true
  relayglobalid:
    paths:
      - plugins/relay-global-id
    carryforward: true
  relaymutation:
    paths:
      - plugins/relay-mutation
    carryforward: true
  relaynodeinterface:
    paths:
      - plugins/relay-node-interface
    carryforward: true

upgrade graphql (#6)
  package.json
  yarn.lock
Due: none

remove optional chaining, use core types
  plugins/relay-global-id/src/index.ts
  plugins/relay-node-interface/src/index.ts
Due: relayglobalid, relaynodeinterface

feat: allow nonNullDefaults plugin config on relay plugins (#5)
  plugins/relay-global-id/src/index.ts
  plugins/relay-node-interface/src/index.ts
Due: relayglobalid, relaynodeinterface

trigger jobs on pull requests
  .github/workflows/test-plugin-datetime.yaml
  .github/workflows/test-plugin-field-authentication.yaml
  .github/workflows/test-plugin-relay-global-id.yaml
  .github/workflows/test-plugin-relay-mutation.yaml
  .github/workflows/test-plugin-relay-node-interface.yaml
  .github/workflows/test-plugin-sample.yaml
Due: none

fix: backward compatibility in relay-global-id and relay-node-interface plugins
  plugins/relay-global-id/src/index.ts
  plugins/relay-node-interface/src/index.ts
Due: relayglobalid, relaynodeinterface

fix: allow optional description for relay mutation plugin
  plugins/relay-mutation/src/index.ts
Due: relaymutation

fix
  lerna.json
  plugins/relay-global-id/package.json
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/package.json
Due: relayglobalid, relaymutation, relaynodeinterface

Publish
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
  plugins/relay-node-interface/CHANGELOG.md
  plugins/relay-node-interface/package.json
Due: relayglobalid, relaymutation, relaynodeinterface

fix types
  plugins/relay-mutation/src/index.ts
Due: relaymutation

Publish
  plugins/relay-mutation/CHANGELOG.md
  plugins/relay-mutation/package.json
Due: relaymutation

fix
  plugins/relay-global-id/src/index.ts
Due: relayglobalid

Publish
  plugins/relay-global-id/CHANGELOG.md
  plugins/relay-global-id/package.json
Due: relayglobalid
